import(MASS,truncnorm, survival, kinship2)
export(simfam, summary.simfam, plot.simfam, penplot, penmodel, summary.penmodel, plot.penmodel, carrierprob, penmodelEM)
S3method(summary, simfam)
S3method(summary, penmodel)
S3method(plot, simfam)
S3method(plot, penmodel)
importFrom("grDevices", "dev.off")
importFrom("graphics", "legend", "lines", "par", "plot", "title")
importFrom("stats", "aggregate", "dgamma", "dnorm", "nlm", "pgamma",
           "pnorm", "quantile", "rgamma", "rnorm", "runif", "uniroot", "var")
